<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="KUKA">

	<!-- Include all models -->
	<xacro:include filename="$(find kuka_description)/model/kuka_lwr.urdf.xacro"/>

	<!-- and assemble your robot -->
	<!-- Attaching My Robot To the WORLD by introducing a dummy link-->
	<link name="world" />

    <joint name="world_to_box" type="fixed">
	  <parent link="world"/>
      <child link="box"/>
    </joint>

	<link name="box">
		<inertial>
			<mass value="5.0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.01"
             iyy="0.01"
             izz="0.01"
             ixy="0" iyz="0" ixz="0"/>
		</inertial>
		<visual>
			<origin xyz="0 0 0.50" rpy="0 0 0"/>
			<geometry>
				<box size="2.0 1.0 1.0"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0.50" rpy="0 0 0"/>
			<geometry>
				<box size="2.0 1.0 1.0"/>
			</geometry>
		</collision>
	</link>

	<gazebo reference="box">
		<static>true</static>
	</gazebo>

	<!-- using the models -->
	<xacro:kuka_lwr parent="box" name="KUKA">
		<origin xyz="0 0 1" rpy="0 0 0"/>
	</xacro:kuka_lwr>

			<gazebo>
			<plugin name="KUKA_lwr_hw_sim" filename="liblwr_hw_gazebo_plugin.so">
				<robotNamespace></robotNamespace>
			</plugin>
		</gazebo>

		<gazebo>
		    <plugin name="KUKA_gazebo_ros_control" filename="libgazebo_ros_control.so">
			    <robotNamespace></robotNamespace>
			</plugin>
		</gazebo>

</robot>
