<!--  Author: Saba Mansourfar 
  University: Politecnico Di Milano
   Labratory: NearLAB
       Robot: Kuka LWR 4+

**Important Notice: 
USE: 'roslaunch kuka_description urdf_rviz.launch' -->

<launch>
  <!-- Define some arguments to be used in the script-->
   <!-- Loading the robot model -->
   <arg name="model" default="$(find kuka_description)/model/kuka.urdf.xacro"/>
  
   <!-- If set to "true" it will send Fake Joint Values -->
   <arg name="use_gui" default="true" />
  
   <!-- Saved location of the rviz configuration -->
   <arg name="rvizconfig" default="$(find kuka_description)/config/urdf_rviz.rviz" />

 <!-- Load the URDF into the ROS Parameter Server -->  
 <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

 <!-- send joint values -->
  <node     if="$(arg use_gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg use_gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
 
 <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
 
 <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>